{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body background="{% static 'images/log.jpeg' %}" bgcolor="white">
    
    <center><h1>login page</h1>
        <form action="">
            <label for="">User name :</label>
            <input type="text" placeholder="user name"> <br><br>
            <label for="">password</label>
            <input type="password" placeholder="password"><br><br>
            <button type="submit">sign up</button>
        </form>
    
    </center>

</body>
</html>